{% extends "base.html" %}

{% block title %} COVID-19 STATISTICS {% endblock %}

{% block pageheader%}
<h1>COVID-19 Custom Dashboard</h1>
<p>3/22/2020 - 7/31/2020</p>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row margin-top-50">
        <div class="col-sm-3">
            <aside class="filters">
                <div class="panel panel-default">
                    <div class="panel-heading">Search Criteria</div>
                    <div class="panel-body">
                        <form method="POST" role="form" name="myForm">
                            <div class="form-group">
                                <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                        <label for="date">Enter From Date</label>
                                        <input class="form-control" id="txtfromdate" name="fromdate" type="date"
                                            placeholder="03/22/2020" value="{{fromdate}}">
                                        <label for="date">Enter To Date</label>
                                        <input class="form-control" id="txttodate" name="todate" type="date"
                                            placeholder="07/31/2020" value="{{todate}}">
                                        <label for="county">Enter a County</label>
                                        <input class="form-control" id="txtcounty" name="county" type="text"
                                            placeholder="Maricopa" value="{{county}}">
                                        <label for="state">Enter a State</label>
                                        <input class="form-control" id="txtstate" name="state" type="text"
                                            placeholder="Arizona" value="{{state}}">
                                        <button class="btn btn-default" onclick="submit_entry();" name="countydatatable"
                                            type="button">Display Graphs</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-sm-6">
            <div id="bar_confirmed_active"></div>
        </div>
        <div class="col-sm-3">
            <div id="bar_deaths"></div>
        </div>
    </div>
</div>


{% endblock %}