{% extends "base.html" %}

{% block title %} COVID-19 STATISTICS {% endblock %}

{% block pageheader%}
<h1>COVID-19 FACTS</h1>
<p>https://www.avert.org/coronavirus/faqs</p>
{% endblock %}

{% block main %}

<h1>About COVID-19</h1>
<h3><strong>What is COVID-19?</strong></h3>
<p>COVID-19, otherwise known as coronavirus disease 2019, is a new illness that affects your lungs and airways. It is
  particularly severe in older populations and people with underlying health conditions.</p>
<h3><strong>Are coronavirus and COVID-19 the same?</strong></h3>
<p>COVID-19 is an abbreviation of coronavirus disease 2019.</p>
<p>The two terms are often used interchangeably, but COVID-19 is the name of the disease caused by a previously unknown
  virus called SARS-CoV-2. The virus is part of a family of coronaviruses that cause different illnesses, including the
  common cold and the flu.</p>
<h3><strong>When did COVID-19 start?</strong></h3>
<p>The virus was discovered in Wuhan, China in December 2019 and has since spread around the world. It was declared a
  pandemic by the World Health Organization on 11 March 2020.</p>
<br>
<h1>Symptoms and treatment</h1>
<h3><strong>What are the common symptoms?</strong></h3>
<p>The most common symptoms of COVID-19 are a dry and continuous cough, fever and tiredness. Other flu-like symptoms
  such as a sore throat, aches and pains, headache or runny nose are also common.</p>
<p>However, some people do not have any symptoms and may not even know they have the virus.</p>
<h3><strong>When do symptoms start to appear?</strong></h3>
<p>It can take up to 14 days for people to show symptoms, but most people notice them in the first four to five days.
</p>
<h3><strong>What should I do if I think I have COVID-19?</strong></h3>
<p>If you think you have COVID-19, stay at home and call your local health service for advice. Do not visit your clinic
  as you could pass the virus onto others.</p>
<p>The people you live with should also stay home for at least 14 days from when you first noticed symptoms.</p>
<p>Avoid close contact with others in your household while you’re ill. If you live with someone who’s more vulnerable,
  try to arrange for them to stay elsewhere.</p>
<h3><strong>Does COVID-19 need treatment?</strong></h3>
<p>Around 80% of people who get COVID-19 will recover without needing special treatment at home, and usually within
  around seven days. Most people will only have mild symptoms similar to the common cold.</p>
<p>Around one in six people will become severely ill and develop difficulty breathing, in which case they will need
  hospital care. In serious cases COVID-19 can cause pneumonia.</p>
<h3><strong>Who is more vulnerable to COVID-19?</strong></h3>
<p>The likelihood of becoming seriously ill from COVID-19 is higher for older people and those with severe underlying
  health issues, including high blood pressure, heart disease, lung disease, cancer or diabetes.</p>
<p>People with a weakened immune system – for example if they are having chemotherapy treatment for cancer, or have a
  low CD4 count as a result of HIV – are also at a higher risk of serious illness.</p>
<h3><strong>Can COVID-19 be cured?</strong></h3>
<p>There’s no proven cure for COVID-19, but most people will recover fully without needing medical treatment.</p>
<p>If you’re unwell with COVID-19, resting, drinking lots of liquids, and taking paracetamol or other home remedies can
  help with symptoms.</p>
<p>If your symptoms don’t improve after seven days or if you have difficulty breathing and persistent pain in your
  chest, call your local health service immediately.</p>
<h3><strong>Are anti-HIV and anti-malaria drugs effective against COVID-19?</strong></h3>
<p>As yet, there is no strong evidence that antiretroviral drugs used to treat HIV can be used to treat COVID-19.
  Several studies have shown promising results, however, the certainty of the evidence is very low due to limitations in
  the studies.</p>
<p>Clinical trials are also underway with two anti-malaria drugs – chloroquine and hydroxychloroquine. Currently, there
  is not enough data to assess how effective either of these medicines are in treating COVID-19, or preventing people
  from getting it.</p>
<p>Remember, taking any of these drugs without medical supervision is potentially very dangerous.</p>
<br>
<h1>Transmission and prevention</h1>
<h3><strong>How is COVID-19 passed on?</strong></h3>
<p>COVID-19 is spread through contact with respiratory droplets (droplets of saliva or mucus from the nose or mouth)
  from someone who has the virus. This mainly occurs when:</p>
<p>someone with the virus coughs or breathes and these droplets land on nearby surfaces and objects. The virus is then
  spread when another person comes into contact with the droplets and touches their own face, particularly eyes, nose or
  mouth</p>
<p>an infected person sneezes, coughs or breathes, and people around them breathe in these droplets.</p>
<h3><strong>Can COVID-19 be passed on through sex?</strong></h3>
<p>There is no evidence that COVID-19 can be passed on through sexual fluids (semen, vaginal fluid, blood and anal
  mucus).</p>
<p>However, the virus is easily spread by coming into close contact with others, and through saliva when kissing. Some
  initial evidence has found COVID-19 can be spread through poop (faeces), so rimming (oral-anal sex) might increase
  your risk of getting the virus.</p>
<p>If you or your partner is unwell with COVID-19, it’s best to avoid having any sexual contact – including kissing and
  cuddling.</p>
<h3><strong>Can COVID-19 be passed from mother-to-child?</strong></h3>
<p>With so few cases, it is unclear whether COVID-19 can be passed from a woman to her unborn or newborn baby.</p>
<p>Emerging evidence suggests that it may be possible for mothers to pass on COVID-19 to their babies through pregnancy
  or birth. However, this is still being investigated.</p>
<p>Pregnant women should continue to follow advice to protect themselves from the virus, and seek medical care straight
  away if they have symptoms.</p>
<p>There is currently no evidence that COVID-19 can be passed on through breastfeeding.</p>
<h3><strong>Can COVID-19 be transmitted through food?</strong></h3>
<p>There is no evidence to suggest that COVID-19 can be passed on through food.</p>
<p>However, as with all types of infection, practising food safety will help to reduce any risk. You can do this by:</p>
<ul>
  <li>making sure animal products are cooked properly</li>
  <li>washing your hands throughout the preparation of food</li>
  <li>cleaning and disinfecting surfaces and utensils after cooking.</li>
</ul>
<h3><strong>How can I stop the spread of COVID-19?</strong></h3>
<p>The main ways you can stop the virus spreading are:</p>
<ul>
  <li>wash your hands regularly with soap and water for at least 40 seconds. If you don’t have access to clean water and
    soap, use an alcohol-based hand sanitizer and keep rubbing it into your hands for 20 seconds</li>
  <li>avoid touching your face</li>
  <li>sneeze or cough into a clean tissue, and then throw it away and wash your hands. If you don’t have a tissue, use
    the inside of your elbow to cover your mouth</li>
  <li>stay at least one metre away from other people, especially if they are unwell.</li>
</ul>
<h3><strong>What is social/physical distancing?</strong></h3>
<p>People are advised to keep their distance from others to prevent COVID-19 from spreading.</p>
<p>Social distancing works by reducing the number of people you meet in a day, which slows the spread of the virus. This
  will help to stop the health system from becoming overwhelmed with large numbers of patients needing care at the same
  time.<br />The exact advice on how to do this will vary depending where you live.</p>
<h3><strong>Should I wear a fabric (cloth) mask?</strong></h3>
<p>The World Health Organisation now recommends using face masks when you are not able to stay at least 1 meter away
  from others. This includes when you’re on public transport, inside shops, or any other time when you’re in a confined
  or crowded space. This advice applies primarily to places where COVID-19 is still being actively passed on in the
  community.</p>
<p>This is because we now have evidence that some people who get COVID-19 don’t get any symptoms but can still pass the
  virus on. Wearing fabric masks prevent these asymptomatic and seemingly healthy people from passing on the virus in
  public spaces. If you do have symptoms for COVID-19, you still need to stay home and self-isolate - wearing a mask is
  not enough. Fabric masks do not prevent the wearer from getting COVID-19.</p>
<p>Medical masks are in short supply globally. These should be prioritised for healthworkers, people with COVID-19
  symptoms and those caring for them; and at-risk groups in situations when they can't guarantee a distance of one meter
  from others.</p>
<br>
{% endblock %}